@charset "utf-8";
/*---------------------------------------------
 wrap
---------------------------------------------*/
#wrap{  position: relative; height: auto !important; height: 100%; min-height: 100%;}
/*---------------------------------------------
 header
---------------------------------------------*/
#header{}
/*---------------------------------------------
 contents
---------------------------------------------*/
#contents { }
/*---------------------------------------------
 footer
---------------------------------------------*/
#footer { }
