@charset "utf-8";
/*---------------------------------------------
 reset
---------------------------------------------*/

body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
textarea,
p,
blockquote,
th,
td {
 margin: 0;
 padding: 0;
}
table {
 border-collapse: collapse;
 border-spacing: 0;
}
fieldset,
img {
 border: 0;
}
address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var {
 font-style: normal;
 font-weight: normal;
}
ol,
ul {
 list-style: none;
}
caption,
th {
 text-align: left;
}
h1,
h2,
h3,
h4,
h5,
h6 {
 font-size: 100%;
 font-weight: normal;
}
q:before,
q:after {
 content: '';
}
abbr,
acronym {
 border: 0;
 font-variant: normal;
}
sup {
 vertical-align: text-top;
}
sub {
 vertical-align: text-bottom;
}
input,
textarea,
select {
 font-family: inherit;
 font-size: inherit;
 font-weight: inherit;
}
input,
textarea,
select {
*font-size:100%;
}
legend {
 color: #000;
}
li {
 list-style: none;
}
img {
 border: none;
 background: transparent;
 vertical-align: bottom;
}

a img,
a:hover img,
a:active img {
 border: none;
 background: transparent;
}
li {
 list-style: none;
}
img {
 border: none;
 background: transparent;
 vertical-align: bottom;
}

/*---------------------------------------------
 custom
---------------------------------------------*/
html,
body { height: 100%; font-size:12px;}
a { text-decoration: underline;}
a:hover,
a:active { text-decoration: none;}